$color-blue: #2292A4;
$color-blue-dark: #104750;
$color-grey-light: #dedede;
$color-black: #0F0A0A;


$transition: 0.8s cubic-bezier(.165,.84,.44,1);
$transition--fast: 0.6s cubic-bezier(.165,.84,.44,1);


$font-small: 1.2rem;
$font-regular: 1.8rem;
$font-large: 4.2rem;